<div id="container">
<h1>Congratulations on your purchase!</h1>
<p><%= @product.name %></p>
<p id=bought><%= @product.price %></p>
<p> <img src="<%= @product.image %>"></p>
<p><%= @product.description %></p>
</div>